{% extends "base.html" %}

{%block title%}
  Form Demo
{% endblock %}
{% block page_content %}
    <h1>This is the form demo page</h1>
    {% if first_name %}
    <h2>hello {{first_name}}</h2>
    {% else %}
    <h2>hey you</h2>
    {% endif %}
    <h3>this is a GET form</h3>
    <form action="/form-demo" method="get">
      what's your name<br>
      <input type="text" name="first_name"><br><br>
      <input type="submit" name="" value="submit">

    <h3>this is a POST form</h3>
    </form>
    <form action="/form-demo" method="post">
      what's your name<br>
      <input type="text" name="first_name"><br><br>
      <input type="submit" name="" value="submit">

    </form>
{% endblock %}
