{% extends "base.html" %}

{%block title%}
  Add Songs
{% endblock %}
{% block page_content %}
    <h1>This page adds songs</h1>
  <form action="/song/add" method="post">
    what's your name<br>
    <label>Song Name</label>
    <input type="text" name="name"><br><br>
    <label>Song Year</label>
    <select name="year">
         {% for i in range(1950, 2025) %}
           {% if i == 2017 %}
             <option selected="selected">{{i}}</option>
           {% else %}
             <option>{{i}}</option>
           {% endif %}
         {% endfor %}
       </select>

    <label>Song Lyrics</label>
    <input type="text" name="lyrics"><br><br>

    <label>Add Artist</label>
<select name="artist_name">
  {%for artist in artists%}
  <option>{{artist.name}}</option>
  {%endfor%}
</select>
    <input type="submit" name="" value="Add Song">
    </form>
{% endblock %}
